
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.main{
    height: 100%;
    width: 100%;
    background-color: #D0D4D5;
    position: relative;
    display: flex;
    flex-direction: column;
}
.nav{
    height: 90px;
    width: 100%;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav img{
    height: 35px;
    margin-right: 170px;
}

.nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-part1 h4{
    margin-right: 60px;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 600;

}

.nav-part2 i{
    margin-right: 60px;
    font-size: 23px;
    font-weight: 500;
}

.content{
    width: 100%;
    height:calc(100% - 50px);
    position: relative;
    display: flex;
}
.left{
    height: 100%;
    width: 35%;
    padding: 80px 110px;
}

.left h5{
    font-size: 22px;
    color: #9e9d9d;
    margin-bottom: 25px;
    margin-left: 3px;
}

.left h1{
    font-size: 60px;
    line-height: 80px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.left p{
    font-size: 18px;
    width: 70%;
    margin-bottom: 80px;
}

.left button {
    background-color: black;
    font-size: 17px;
    color: #fff;
    padding: 15px 40px;
    text-transform: uppercase;
    border-radius: 1px 50px 50px 50px;
    outline: none;
}
.right{
    height: 100%;
    width: 65%;
    position: relative;
    /* white-space: nowrap;
    overflow-x: auto; */
}


.elem {
    height: 520px;
    width: 380px;
    background-color: #f6f6f6;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0, 0.3);
    display: inline-block;
    margin-right: 30px;
    overflow: hidden;
}

.elem img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
}
.elem h4 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #acafaf;
    padding: 17px 34px;
    border-radius: 6px;
}

.elem h5 {
    position: absolute;
    bottom: 10%;
    right: 0;
    background-color: #030303;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    padding: 17px 34px;
    border-radius: 6px;
}
.box{
    height: 520px;
    width: 100%;
    margin-top: 155px;
    border-radius: 10px;
    white-space: nowrap;
    overflow-x: auto;
}
.box::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 1430px){
    .left h5{
        font-size: 14px;
    }
    
    .left h1{
        font-size: 50px;
    }
    
    .left p{
        font-size: 14px;
    }
    
    .left button {
        font-size: 13px;
    }
    .box{
        height: 520px;
        width: 100%;
        margin-top: 137px;
        border-radius: 10px;
        white-space: nowrap;
        overflow-x: auto;
    }
    .nav-part2{
        display: none;
    }
}

@media screen and (max-width:1143px){
    .left{
        display: none;
    }
    .right{
        height: 100%;
        width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width:1095px){
    .nav-part1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-part1 h4{
        margin-right: 50px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
    
    }
}

@media screen and (max-width:980px){
    .nav-part1 h4{
       display: none;
    }
   
.elem {
    height: 400px;
    width: 340px;
}


.elem h4 {
    padding: 12px 24px;
    font-size: 15px;
}

.elem h5 {
    font-size: 13px;
    padding: 12px 24px;
}
.box{
    height: 440px;
    width: 100%;
    margin-top: 100px;
}
.right{
    padding: 0px 0px 0px 18px;
}
    
}